body {
    font-family: sans-serif;
    background: #2d3436;
}

.logo {
    margin: 20px auto;
    width: 200px;
}

hr {
    color: #636e72;
}

a {
    text-decoration: none;
    color: #bdc3c7;
}

p {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    width: 1000px;
    margin: 20px auto;
    transition: 0.4s;
    text-align: center;
}

p:hover {
    color: #74b9ff;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px auto;
}

.box h3 {
    color: #bdc3c7;
    text-transform: uppercase;
    font-weight: 300;
    margin: 20px auto;
}

.box input[type="email"], .box input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 12px 20px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="email"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.index_menu {
    font-size: 13px;
    text-decoration: none;
    position: relative;
    top: 10px;

    background: none;
    display: inline;
    margin: 1px;
    text-align: center;

    border: 2px solid #2ecc71;
    padding: 12px 28px;

    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

.index_menu:hover {
    background: #2ecc71;
}

/* class:: main.html:: .logout_btn, .profile_btn */
.logout_btn {
    font-size: 13px;
    text-decoration: none;

    background: none;
    display: inline;
    margin: 1px;
    text-align: center;

    border: 2px solid #ff7675;
    padding: 12px 28px;

    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

.logout_btn:hover {
    background: #ff7675;
}

.profile_btn {
    font-size: 13px;
    text-decoration: none;

    background: none;
    display: inline;
    margin: 1px;
    text-align: center;

    border: 2px solid #ff7675;
    padding: 12px 28px;

    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

.profile_btn:hover {
    background: #ff7675;
}


/* class:: signUp.html:: .error,  */
.error {
    display: block;
    color: #f00;
}

#agreeMsg {
    display: none;
}

.form_container {
    position: absolute;
    width: 550px;
    height: 700px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #bdc3c7;
    text-align: center;
}

.form_box {
    position: relative;
    width: 200px;
    height: 30px;
    padding: 5px;
}

.form_box input[type="text"], .form_box input[type="email"], .form_box input[type="password"], .form_box input[type="tel"] {
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 2px solid #636e72;
    color: #bdc3c7;
    padding: 5px 5px;
    transition: 0.25s;
}

.form_box input[type="text"]:enabled, .form_box input[type="email"]:enabled, .form_box input[type="password"]:enabled, .form_box input[type="tel"]:enabled {
    border-bottom: 2px solid #bdc3c7;
}
.form_box input[type="text"]:focus, .form_box input[type="email"]:focus, .form_box input[type="password"]:focus, .form_box input[type="tel"]:focus {
    border-color: #2ecc71;
}

select {
    position: relative;
    width: 85px;
    padding: 3px;
}

.form_row {

}

.form_btn {
    font-size: 13px;
    text-decoration: none;
    position: relative;

    background: none;
    display: inline;
    margin: 1px;
    text-align: center;

    border: 2px solid #95a5a6;
    padding: 6px 12px;

    outline: none;
    color: #bdc3c7;
    border-radius: 20px;
    transition: 0.25s;
}

.form_btn:enabled {
    border: 2px solid #2ecc71;
    color: white;
}

.form_btn:hover:enabled {
    cursor: pointer;
    background: #2ecc71;
}

.form_title {
    position: relative;
    font-size: 20px;
}

#authNoBox {
    display: block;
}

.form_submit {
    padding: 10px;
}

#btnSend {
    color: white;
    text-decoration: none;
    outline: none;
}

.form_email {
    display: block;
    padding: 2px;
}

.address_form {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.search_input {
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 2px solid #bdc3c7;
    color: #bdc3c7;
    width: 350px;
    padding: 5px;
    transition: 0.25s;
}

.search_input:focus {
    border-bottom: 2px solid #2ecc71;
}

.search_area {
    padding-bottom: 10px;
}

.search_area hr {
    border: 1px solid #4f5658;
}

.zipCode {
    color: white;
}

#div_paginate {
    text-align: center;
}

.page_number {
    position: relative;
    bottom: 5px;
    padding: 3px;
}

.first, .prev, .next, .last {
    padding: 1px;
}

/* confirmStatus */
#confirmStatus {
    height: 50px;
}

#statusFrame {
    position: absolute;
    text-align: center;
    width: 95%;
    top: 90%;

    padding: 30px;
    display: none;
    border: 1px solid #000;
}

.getGrey {
    background: #95a5a6;
}

.getRed {
    background: #ff7675;
}
