<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주소 검색</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <input type="hidden" id="hid_Key" value="devU01TX0FVVEgyMDIwMDExMjEzNDAxODEwOTM4MDY="/>
    <label>검색어</label><input type="text" id="txt_SearchText"/>
    <input type="button" id="btnSearch" value="검색"/>
    <div id="dvSearchArea" class="cresultArea"></div>
    <div id="div_paginate" class="paginate"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    $(function() {
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    function searchJuso() {
        return false;
    }

    function PageLink(curPage, totalPages, funName) {
        var pageUrl = "";

        var pageLimit = 5;
        var startPage = parseInt((curPage - 1) / pageLimit) * pageLimit + 1;
        var endPage = startPage + pageLimit - 1;

        if (totalPages < endPage) {
            endPage = totalPages;
        }

        var nextPage = endPage + 1;
        if (curPage > 1 && pageLimit < curPage) {
            pageUrl += "<a class='first' href='javascript:" + funName + "(1);'><input type='button' value='처음'/></a>";
        }
        if (curPage > pageLimit) {
            pageUrl += "<a class='prev' href='javascript:" + funName + "(" + (startPage == 1 ? 1 : startPage - 1) + ");'><input type='button' value='이전'/></a>";
        }

        for (var i = startPage; i <= endPage; i++) {
            if (i == curPage) {
                pageUrl += "<a href='#'><strong>" + i + "</strong></a>";
            } else {
                pageUrl += "<a href='javascript:" + funName + "(" + i + ");'>" + i + "</a>";
            }
        }

        if (nextPage <= totalPages) {
            pageUrl += "<a class='next' href='javascript:" + funName + "(" + (nextPage < totalPages ? nextPage : totalPages) + ");'><input type='button' value='다음'/></a>";
        }
        if (curPage < totalPages && nextPage < totalPages) {
            pageUrl += "<a class='last' href='javascript:" + funName + "(" + totalPages + ");'><input type='button' value='끝'/></a>";
        }

        return pageUrl;
    }

    function SetOpenerValue(retVal) {
        window.opener.getAddressValue(retVal);
        window.close();
    }

    function Search_Post_API(PageNo) {
        var intPageSize = 10;
        var intTotalPages = 0;

        var strUrl = window.location.protocol + "//www.juso.go.kr/addrlink/addrLinkApiJsonp.do";
        if (!searchJuso()) {
            try {
                $.ajax({
                    url: strUrl,
                    type: "post",
                    data: ({currentPage: PageNo, countPerPage: intPageSize, keyword: $('#txt_SearchText').val(), confmKey: $('#hid_Key').val()}),
                    dataType: "jsonp",
                    crossDomain: true,
                    success: function(xmlStr) {
                        if (navigator.appName.indexOf("Microsoft") > -1) {
                            var xmlData = new ActiveXObject("Microsoft.XMLDOM");
                            xmlData.loadXML(xmlStr.returnXml);
                        } else {
                            var xmlData = xmlStr.returnXml;
                        }

                        var errCode = $(xmlData).find("errorCode").text();
                        var errDesc = $(xmlData).find("errorMessage").text();
                        var PostList = "";

                        if (errCode == "0") {
                            if (xmlStr != null) {
                                PostList += "<ul>";

                                $(xmlData).find("juso").each(function (i) {
                                    PostList += "<li>";
                                    PostList += "<a href=\"javascript:SetOpenerValue('" + $(xmlData).find("roadAddr").eq(i).text().replace("'", " ") + "');\">";
                                    PostList += "<em>" + $(xmlData).find("zipNo").eq(i).text() + "</em>";
                                    PostList += "<span>" + $(xmlData).find("roadAddr").eq(i).text() + "<br/>" + $(xmlData).find("jibunAddr").eq(i).text() + "</span>";
                                    PostList += "</a>";
                                    PostList += "</li>";
                                });

                                PostList += "</ul>";

                                $("#dvSearchArea").html(PostList);

                                if ($(xmlData).find("totalCount").text() != 0) {
                                    intTotalPages = Math.ceil($(xmlData).find("totalCount").text() / intPageSize);
                                    $('#div_paginate').html(PageLink(PageNo, intTotalPages, "Search_Post_API"));
                                }
                            }
                        } else if (errCode == "E0005") {
                            alert("검색어를 입력해주세요");
                        } else if (errCode == "E0006") {
                            alert("주소를 상세히 입력해주세요");
                        } else {
                            alert("에러");
                        }
                    }
                })
            } catch (e) {
                alert("hello");
            }
        }
    }

    $('#btnSearch').on('click', function() {
        Search_Post_API('1');
    })
</script>
</body>
</html>