<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hompee - 비밀번호 찾기</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<a th:href="@{/}"><img src="image/hompeeLogo.png" id="logo"></a>
<form id="formChangePassword" class="form_container" th:action="@{/updatePasswordWithEmail}" th:object="${memberVO}" method="post" autocomplete="off">
    <h1>비밀번호 찾기</h1>
    <hr>
    <div class="form_row">
        <h3>이메일 확인</h3>
        <div class="form_email">
            <span class="form_box">
                <input type="email" id="email" th:field="*{email}" placeholder="이메일" required="required">
            </span>
            <input class="form_btn" type="button" id="btnSendCode" value="인증번호 받기"/>
            <input class="form_btn" type="button" id="btnChangeEmail" value="이메일 변경" style="display:none"/>
        </div>
        <div class="form_email">
            <span class="form_box">
                <input type="text" id="confirmCode" placeholder="인증번호" disabled="disabled" required="required">
            </span>
            <input class="form_btn" type="button" id="btnCheckCode" value="인증번호 확인" disabled="disabled"/>
        </div>
    </div>
    <div class="form_row">
        <h3>새 비밀번호</h3>
        <span class="form_box">
            <input id="inputPassword" type="password" th:field="*{password}" maxlength="20" placeholder="비밀번호" required="required">
            <input id="inputPasswordCheck" type="password" maxlength="20" placeholder="비밀번호 확인" required="required">
        </span>
    </div>

    <div class="form_submit">
        <input class="form_btn" type="submit" id="submit" value="비밀번호 변경" disabled="disabled"/>
    </div>
</form>
<div id="statusFrame">
    <span id="passwordStatus"></span>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/forgotPassword.js"></script>
</body>
</html>
