<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hompee - 회원가입</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<a th:href="@{/}"><img class="logo" src="image/hompeeLogo.png" id="logo"></a>
<form id="formSignUp" class="form_container" th:action="@{/signUp}" th:object="${memberVO}" method="post" autocomplete="off">
    <h1>signUp</h1>
    <hr>

    <!--email-->
    <div class="form_row">
        <h3 class="form_title" id="email_title">Email</h3>
        <div class="form_email">
            <span class="form_box">
                <input type="email" id="email" th:field="*{email}" placeholder="이메일" maxlength="100" required="required">
            </span>
            <input class="form_btn" type="button" id="btnSendCode" value="인증번호 발송"/>
            <input class="form_btn" type="button" id="btnChangeEmail" value="이메일 변경" style="display:none"/>
        </div>
        <div class="form_email">
            <span class="form_box">
                <input type="text" id="confirmCode" placeholder="인증번호" maxlength="6" required="required" disabled="disabled"/>
            </span>
            <!-- slide up the pop-up of send correctly and check -->
            <input class="form_btn" type="button" id="btnCheckCode" value="인증번호 확인" disabled="disabled"/>
        </div>
    </div>

    <!-- password -->
    <div class="form_row">
        <h3 class="form_title" id="pswd_title">Password</h3>
        <span class="form_box">
            <input id="inputPassword" type="password" th:field="*{password}" maxlength="20" placeholder="비밀번호" required="required"/>
            <input id="inputPasswordCheck" type="password" maxlength="20" placeholder="비밀번호 확인" required="required"/>
        </span>
    </div>

    <!-- name -->
    <div class="form_row">
        <h3 class="form_title" id="name_title">User Name</h3>
        <span class="form_box">
            <input type="text" th:field="*{name}" maxlength="20" placeholder="이름" required="required"/>
        </span>
    </div>

    <!-- phone -->
    <div class="form_row">
        <h3 class="form_title" id="phone_title">Phone</h3>
        <span class="form_box">
            <input type="tel" th:field="*{phoneNumber}" placeholder="전화번호" required="required"/>
        </span>
    </div>

    <!--address-->
    <div class="form_row">
        <h3 class="form_title" id="address_title1">Address1</h3>
        <div>
            <span class="form_box">
                <input type="text" id="inputFirstZipCode" th:field="*{firstZipCode}" placeholder="우편번호" disabled="disabled" style="width:50px"/>
                <input type="text" id="inputFirstAddress" th:field="*{firstAddress}" placeholder="주소" disabled="disabled" style="width:150px"/>
                <input type="text" id="inputFirstAddressDetail" th:field="*{firstAddressDetail}" placeholder="상세주소" disabled="disabled"/>
            </span>
            <span>
                <input input class="form_btn" type="button" id="btnSearchFirstAddress" value="주소 찾기"/>
            </span>
        </div>
    </div>
    <div class="form_row">
        <h3 class="form_title" id="address_title2">Address2</h3>
        <div>
            <span class="form_box">
                <input type="text" id="inputSecondZipCode" th:field="*{secondZipCode}" placeholder="우편번호" disabled="disabled" style="width:50px"/>
                <input type="text" id="inputSecondAddress" th:field="*{secondAddress}" placeholder="주소" disabled="disabled" style="width:150px"/>
                <input type="text" id="inputSecondAddressDetail" th:field="*{secondAddressDetail}" placeholder="상세주소" disabled="disabled"/>
            </span>
            <span>
                <input input class="form_btn" type="button" id="btnSearchSecondAddress" value="주소 찾기"/>
            </span>
        </div>
    </div>

    <div class="form_submit">
        <input input class="form_btn" type="submit" id="submit" value="가입하기" disabled="disabled"/>
    </div>
</form>

<div id="statusFrame">
    <span id="signUpStatus"></span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/signUp.js"></script>
</body>
</html>